*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #18191a;
}

.container{
    display: flex;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btnContainer{
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.btnContainer > button{
    border: none;
    width: 80px;
    height: 40px;
    margin: 10px;
    color: #eee;
    border-radius: 5px;
}

#start{
     background-color: blue;
}

#stop{
    background-color: red;
}

#reset{
    background-color: orange;
}

.section{
    display: flex;
    flex-wrap: wrap;
    width: 120px;
    margin: 10px;
}

.segment{
    border-radius: 20px;
}.seg1{
    width: 100px;
    height: 10px;
    margin: 0px 10px 0px 10px;
    background-color: #d9534f;
}.seg2{
    width: 10px;
    height: 100px;
    margin-right: 100px;
    background-color: #d9534f;
}.seg3{
    width: 10px;
    height: 100px;
    background-color: #d9534f;
}.seg4{
    width: 100px;
    height: 10px;
    margin: 0px 10px 0px 10px;
    background-color: #d9534f;
}.seg5{
    width: 10px;
    height: 100px;
    margin-right: 100px;
    background-color: #d9534fed;
}.seg6{
    width: 10px;
    height: 100px;
    background-color: #d9534f;
}.seg7{
    width: 100px;
    height: 10px;
    margin: 0px 10px 0px 10px;
    background-color: #d9534f;}
.dot1{
    height: 10px;
    width: 10px;
    background-color:#d9534f;
    position: relative;
    top: 35%;
    border-radius: 100%;
}
.dot2{
    height: 10px;
    width: 10px;
    background-color:#d9534f;
    position: relative;
    top: 55%;
    border-radius: 100%;
}