/* body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222626;
}
.digital-watch .hour,
.digital-watch .minute,
.digital-watch .second {
  position: relative;
  display: inline-block;
  margin: 30px;
  font-size: 0;
}
.digital-watch .hour::before,
.digital-watch .hour::after,
.digital-watch .minute::before,
.digital-watch .minute::after {
  content: '';
  position: absolute;
  right: -40px;
  width: 20px;
  height: 20px;
  background-color: #0984e3;
}
.digital-watch .hour::before,
.digital-watch .minute::before {
  top: 80px;
}
.digital-watch .hour::after,
.digital-watch .minute::after {
  top: 180px;
}
.digital-watch svg {
  display: inline-block;
  margin: 20px;
}
.display-watch svg .segment {
  fill: rgba(0, 0, 0, 0.15);
  transition: 0.3s ease-in-out;
}

.digital-watch svg.num-1 .b,
.digital-watch svg.num-1 .c,
.digital-watch svg.num-2 .a,
.digital-watch svg.num-2 .b,
.digital-watch svg.num-2 .d,
.digital-watch svg.num-2 .e,
.digital-watch svg.num-2 .g,
.digital-watch svg.num-3 .a,
.digital-watch svg.num-3 .b,
.digital-watch svg.num-3 .c,
.digital-watch svg.num-3 .d,
.digital-watch svg.num-3 .g,
.digital-watch svg.num-4 .b,
.digital-watch svg.num-4 .c,
.digital-watch svg.num-4 .f,
.digital-watch svg.num-4 .g,
.digital-watch svg.num-5 .a,
.digital-watch svg.num-5 .c,
.digital-watch svg.num-5 .d,
.digital-watch svg.num-5 .f,
.digital-watch svg.num-5 .g,
.digital-watch svg.num-6 .a,
.digital-watch svg.num-6 .c,
.digital-watch svg.num-6 .d,
.digital-watch svg.num-6 .e,
.digital-watch svg.num-6 .f,
.digital-watch svg.num-6 .g,
.digital-watch svg.num-7 .a,
.digital-watch svg.num-7 .b,
.digital-watch svg.num-7 .c,
.digital-watch svg.num-8 .a,
.digital-watch svg.num-8 .b,
.digital-watch svg.num-8 .c,
.digital-watch svg.num-8 .d,
.digital-watch svg.num-8 .e,
.digital-watch svg.num-8 .f,
.digital-watch svg.num-8 .g,
.digital-watch svg.num-9 .a,
.digital-watch svg.num-9 .b,
.digital-watch svg.num-9 .c,
.digital-watch svg.num-9 .d,
.digital-watch svg.num-9 .f,
.digital-watch svg.num-9 .g,
.digital-watch svg.num-0 .a,
.digital-watch svg.num-0 .b,
.digital-watch svg.num-0 .c,
.digital-watch svg.num-0 .d,
.digital-watch svg.num-0 .e,
.digital-watch svg.num-0 .f {
  fill: #0984e3;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(32, 32, 32);
}

.button {
  position: relative;
  top: 25em;
  left: 20em;
}

.button button {
  font-size: 50px;
  margin-left: 20px;
  padding: 15px;
}

#seconds-1 {
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
}

#seconds-2 {
  position: relative;
  margin-top: 20px;
  margin-left: 180px;
}
#seconds-3 {
  position: relative;
  margin-top: 20px;
  margin-left: 340px;
}

#miliseconds-1 {
  position: relative;
  margin-top: 20px;
  left: 550px;
}

#miliseconds-2 {
  position: relative;
  margin-top: 20px;
  left: 710px;
}

.segment {
  height: 20px;
  width: 100px;
  background-color: rgb(88, 1, 1);
  border-radius: 10px;
  position: absolute;
}
.segment1 {
  height: 20px;
  width: 100px;
  background-color: rgb(88, 1, 1);
  border-radius: 10px;
  position: absolute;
}
.segment2 {
  height: 20px;
  width: 100px;
  background-color: rgb(88, 1, 1);
  border-radius: 10px;
  position: absolute;
}
.segment3 {
  height: 20px;
  width: 100px;
  background-color: rgb(88, 1, 1);
  border-radius: 10px;
  position: absolute;
}
.segment4 {
  height: 20px;
  width: 100px;
  background-color: rgb(88, 1, 1);
  border-radius: 10px;
  position: absolute;
}

#segment1 {
  top: 15px;
  left: 30px;
}

#segment2 {
  width: 120px;
  top: 20px;
  left: 135px;
  transform-origin: left;
  transform: rotate(95deg);
}

#segment3 {
  width: 120px;
  top: 152px;
  left: 125px;
  transform-origin: left;
  transform: rotate(95deg);
}

#segment4 {
  top: 277px;
  left: 10px;
}

#segment5 {
  width: 120px;
  top: 150px;
  left: 17px;
  transform-origin: left;
  transform: rotate(95deg);
}

#segment6 {
  width: 120px;
  top: 20px;
  left: 25px;
  transform-origin: left;
  transform: rotate(95deg);
}

#segment7 {
  top: 145px;
  left: 21px;
}

#titik1 {
  font-size: 150px;
  color: white;
  position: relative;
  left: 490px;
  top: -40px;
}
